# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
venv/
env/

# Ignore git files
.git
.gitignore

# Ignore local environment variables files
.env

# Ignore logs
*.log

# Ignore IDE/editor configs
.vscode/
.idea/